/* body{
  background: url('../images/center-pedistal.PNG');

  background-size: 100%;
  background-repeat: no-repeat;
} */


#bright-text,
.item,
.item-alpha,
.fmgc-text,
.prog-buttons,
.tick,
.rdy > p {
  /* For Safari 3.1 to 6.0 */
  -webkit-transition-property: color;
  -webkit-transition-property: fill;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: linear;
  -webkit-transition: fill 0.3s ease;

  /* Standard syntax */
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition: fill 0.3s ease;
}

#mcdu {
  position: relative;
  width: 384px;
  height: 600px;
  border: 1px solid #46535e;
  border-radius: 9px;
  left: 100px;
  background: linear-gradient(
    346deg,
    rgba(67, 86, 98, 1) 0%,
    rgba(54, 65, 75, 0.6362920168067228) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  box-shadow: 4px 4px 15px 0px #000000;
}

/*  TOP IDENTS CONTAINER*/
#idents-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*   border: 1px solid grey; */
  width: 250px;
  height: 17px;
  margin-left: 70px;
}

.top {
  background-color: black;
  border: 2px inset #666;
  border-radius: 5px;
  height: 10px;
  margin-top: 2px;
  width: 35px;
  text-align: center;
  font-size: 10px;
  color: #c3967d;
}

.fm-one > p,
.ind > p,
.fm-two > p {
  /*   position:initial; */
  color: red;
  margin-top: 0px;
  opacity: 0.3;
  font-family: monospace;
}
.rdy > p {
  color: green;
  margin-top: 0px;
  opacity: 0.3;
  font-family: monospace;
}
.fm-one {
  /*   left: 5px;  */
  min-height: 10px;
}

.ind {
  min-height: 10px;
}
.rdy {
  min-height: 10px;
}
.fm-two {
  min-height: 10px;
}

.screw-top-left {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px inset grey;
  border-radius: 100%;
  left: 5px;
  top: 5px;
  background-color: black;
}

.screw-top-right {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px inset grey;
  border-radius: 100%;
  left: 368px;
  top: 5px;
  background-color: black;
}

.screw-bottom-left {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px inset grey;
  border-radius: 100%;
  left: 5px;
  top: 582px;
  background-color: black;
}

.screw-bottom-right {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px inset grey;
  border-radius: 100%;
  left: 368px;
  top: 582px;
  background-color: black;
}

.photo-resistor-top-left {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px inset #3a4650;
  border-radius: 100%;
  left: 18px;
  top: 16px;
  background-color: #726f4da6;
}

.photo-resistor-top-right {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px inset #3a4650;
  border-radius: 100%;
  left: 352px;
  top: 16px;
  background-color: #726f4da6;
}

.photo-resistor-bottom-left {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px inset #3a4650;
  border-radius: 100%;
  left: 18px;
  top: 570px;
  background-color: #726f4da6;
}

.photo-resistor-bottom-right {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px inset #3a4650;
  border-radius: 100%;
  left: 352px;
  top: 570px;
  background-color: #726f4da6;
}

#mcdu-screen {
  position: absolute;
  background: black;
  width: 284px;
  height: 220px;
  border: 16px inset #5d6f7e;
  border-radius: 10px;
  left: 34px;
  top: 20px;
}

/* WHITE LINES LEFT SIDE */
#mcdu-white-line-left {
  position: absolute;
  /*   border: 2px hidden red; */
  width: 15px;
  height: 185px;
  top: 0px;
  left: 30px;
}

.white {
  position: relative;
  /*     border: 1px solid #c3967d; */
  width: 14px;
  height: 0.1px;
  background-color: whitesmoke;
  transform: rotate(10deg);
}

.line-one {
  top: 7px;
  left: 5px;
}

.line-two {
  top: 36px;
  left: 5px;
}

.line-three {
  top: 67px;
  left: 5px;
}

.line-four {
  top: 96px;
  left: 5px;
}

.line-five {
  top: 126px;
  left: 5px;
}

.line-six {
  top: 156px;
  left: 5px;
}

.line-seven {
  top: 185px;
  left: 5px;
}

/* RIGHT SIDE LINES */

#mcdu-white-line-right {
  position: absolute;
  /*   border: 2px hidden red; */
  width: 15px;
  height: 185px;
  top: 0px;
  left: 330px;
}

.white-right {
  position: relative;
  /*     border: 1px solid #c3967d; */
  width: 14px;
  height: 0.1px;
  background-color: whitesmoke;
  transform: rotate(-10deg);
   left: 5px;
}

.line-eight {
  top: 7px;
  
}

.line-nine {
  top: 37px;
  
}

.line-ten {
  top: 66px;
  
}

.line-eleven {
  top: 95px;
  
}

.line-twelve {
  top: 126px;
  
}

.line-thirteen {
  top: 156px;
  
}

.line-fourteen {
  top: 180px;
  
}

#mcdu-menu-header {
  position: absolute;
  min-width: 100%;
  min-height: auto;
  /*     border: 2px solid blue; */
  color: whitesmoke;
  font-family: monospace;
}

#mcdu-menu {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 280px;
  height: 207px;
      /* border: 2px hidden red; */
  text-align: center;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  top: 10px;
  color: whitesmoke;
  opacity: 0;
}

#fmgc-req,
#atsu,
#aids,
#cfds,
#retun,
#aevc,
#aoc,
#comm-menu {
  /*   color: whitesmoke; */
  font-family: monospace;
  font-size: 12px;
  left: 10px;
}

#fmgc-req {
  position: relative;
  /*   border: 2px hideen green; */
  min-width: 25px;
  min-height: 5%;
  top: 13px;
}

#atsu {
  position: relative;
  /*   border: 2px hideen green; */
  min-width: 35px;
  min-height: 5%;
  top: 25px;
}

#aids {
  position: relative;
  /*   border: 2px hideen green; */
  min-width: 35px;
  min-height: 5%;
  top: 43px;
  color: green;
}

#cfds {
  position: relative;
  /*   border: 2px hideen green; */
  min-width: 35px;
  min-height: 5%;
  top: 55px;
}

#box {
  position: relative;
  /*   border: 2px hideen green; */
  min-width: 35px;
  min-height: 5%;
  top: 55px;
}

#retun, 
#comm-menu {
  position: relative;
  /* border: 2px hideen green; */
  min-width: 35px;
  min-height: 5%;
  top:99px;
  left: 223px;
}

/* COMM-MENU */
#comm-menu {
  left: 208px;
}

/* RIGHT SIDE BUTTONS */

#aoc{
  position: absolute;
  min-width: 60px;
  min-height: 5%;
  top: 43px;
  left: 215px;
}


/*MCDU LEFT SIDE BUTTONS  */
#mcdu-left-buttons {
  position: relative;
  /* border: 1px hidden red; */
  width: 31px;
  height: 219px;
  margin-left: 0px;
  top: 40px;
}


/* AIDS STATIC MENU STYLES */

#aids-menu-container{
  position: absolute;
  /* border: 2px solid red; */
  width: 280px;
  height: 216px;
  left: 50px;
  top: 37px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  

}

#aids-header{
  position: relative;
    /* border: 2px solid white; */
    width: 40px;
    height: 18px;
    left: 114px;
    top: 0px;
    color: whitesmoke;
    font-family: monospace;
    text-align: center;
    font-size: 13px;
}

/* LEFT SIDE AIDS TAGS */
#parameter-call-up, 
#label, 
#special-function, 
#reprogramming, 
#dar-recording, 
#stored-left, 
#sar-data, 
#man-request, 
#sar-recording{
  position: absolute;
  width: 200px;
  height: 13px;
  /* border: 2px solid white; */
  color: whitesmoke;
  font-family: monospace;
  text-align:left;
  font-size: 13px;
  left: 15px;
  letter-spacing: 3px;
  
}




#parameter-call-up{
  left: 32px;
  text-align:center;
  letter-spacing: 3px;
  top: 14px;
}

#label{
  top: 20px;
  
} 

#special-function{
  top: 43px;

} 


#reprogramming{
  top: 49px;
}

#dar-recording{
  top: 80px;
}

#stored-left{
  top: 104px;
  
} 

#sar-data{
  top: 109px;
}


#man-request{
  top: 133px;
} 


#sar-recording{
  top: 138px;
}


/* RIGHT SIDE AIDS TAGS */
#alpha, 
#pcmcia, 
#airline, 
#functions, 
#stored-right, 
#reports-right-one, 
#man-request-right, 
#reports-right-two {
  position: absolute;
  width: 200px;
  height: 13px;
  /* border: 2px solid white; */
  color: whitesmoke;
  font-family: monospace;
  text-align:right;
  font-size: 13px;
  left: 73px;
  letter-spacing: 3px;
  
}


#alpha{
  top: 20px;
  
} 

#pcmcia{
  top: 49px;

} 


#airline{
  top: 75px;
}

#functions{
  top: 80px;
}

#stored-right{
  top: 104px;
  
} 

#reports-right-one{
  top: 109px;
}


#man-request-right{
  top: 133px;
} 


#reports-right-two{
  top: 138px;
}

/*CFDS MENU*/

#cfds-menu{

  position: absolute;
  width: 200px;
  height: 13px;
  /* border: 2px solid white; */
  color: whitesmoke;
  font-family: monospace;
  text-align:left;
  font-size: 13px;
  left: 15px;
  letter-spacing: 3px;
}



/*MCDU SCREEN BUTTONS*/
#L1-button,
#L2-button,
#L3-button,
#L4-button,
#L5-button,
#L6-button,
#L7-button,
#R1-button,
#R2-button,
#R3-button,
#R4-button,
#R5-button,
#R6-button,
#R7-button {
  position: absolute;
  width: 19px;
  height: 11px;
  border: 1px inset black;
  border-radius: 3px;
  background: black;
}

#L1-button {
  top: 0;
  left: 5px;
}
#L2-button {
  top: 30px;
  left: 5px;
}
#L3-button {
  top: 60px;
  left: 5px;
}
#L4-button {
  top: 90px;
  left: 5px;
}
#L5-button {
  top: 120px;
  left: 5px;
}
#L6-button {
  top: 150px;
  left: 5px;
}
#L7-button {
  top: 180px;
  left: 5px;
}

/*  MCDU BUTTON TICKS*/
.tick {
  position: absolute;
  /*   border: 1px solid #c3967d; */
  width: 7px;
  height: 0.1px;
  background-color: whitesmoke;
  z-index:2;
  left:10px;
}

.L1 {
  top: 6px;
/*   left: 6px; */
}
.L2 {
  top: 35px;
/*   left: 6.8px; */
}
.L3 {
  top: 65px;
/*   left: 6.8px; */
}
.L4 {
  top: 95px;
/*   left: 6.8px; */
}
.L5 {
  top: 125px;
/*   left: 6.8px; */
}
.L6 {
  top: 155px;
/*   left: 6.8px; */
}
.L7 {
  top: 185px;
/*   left: 6.8px; */
}

/* FINGER GUARDS */
.finger {
  position: absolute;
  box-shadow: 0px 2px 0px 0px #36414a;
  /* border: 0px inset #0d1012; */
  /* border-radius: 2px; */
  background: #586570;
  width: 34px;
  height: 12px;
  left: 0px;
}

.L-guard-1 {
  top: 14px;
  /*   left: -5px; */
}

.L-guard-2 {
  top: 44px;
}

.L-guard-3 {
  top: 74px;
}

.L-guard-4 {
  top: 104px;
}

.L-guard-5 {
  top: 134px;
}

.L-guard-6 {
  top: 164px;
}

/* FINGER R-GUARDS */

.R-guard-1 {
  top: 14px;
  left: 350px;
}

.R-guard-2 {
  top: 45px;
  left: 350px;
}

.R-guard-3 {
  top: 74px;
  left: 350px;
}

.R-guard-4 {
  top: 103px;
  left: 350px;
}

.R-guard-5 {
  top: 134px;
  left: 350px;
}

.R-guard-6 {
  top: 164px;
  left: 350px;
}

/*MCDU RIGHT SIDE BUTTONS  */

#mcdu-right-buttons {
  position: absolute;
  border: 1px hidden red;
  width: 31px;
  height: 219px;
  margin-left: 358px;
  top: 56px;
}


#R1-button {
  top: 0;
  
}
#R2-button {
  top: 30px;
   
}
#R3-button {
  top: 60px;
 
}
#R4-button {
  top: 90px;
 
}
#R5-button {
  top: 120px;
 
}
#R6-button {
  top: 150px;
 
}
#R7-button {
  top: 180px;
 
}


/* RIGHT SIDE TICKS */

.R1 {
  top: 5px;
  left: 6px;
}
.R2 {
  top: 35px;
  left: 6px;
}
.R3 {
  top: 65px;
  left: 6px;
}
.R4 {
  top: 95px;
  left: 6px;
}
.R5 {
  top: 125px;
  left: 6px;
}
.R6 {
  top: 155px;
  left: 6px;
}
.R7 {
  top: 185px;
  left: 6px;
}

/* FMGC FAIL */
#fmgc-container {
  position: absolute;
  width: 20px;
  height: 120px;
  /*   border: 2px solid black; */
  top: 380px;
  left: 5px;
}

/* MCDU CCONTAINER MENU */
#mcdu-right-container {
  position: absolute;
  width: 20px;
  height: 129px;
  /*   border: 2px solid black; */
  top: 380px;
  left: 359px;
}

.fmgc,
.mcdu {
  position: absolute;
  width: 12px;
  height: 100px;
  border: 1px inset #46535e;
  border-radius: 10%;
  top: 22px;
  left: 3px;
  background-color: black;
}

h1 {
  text-align: center;
  margin-left: 0px;
  font-size: 0.6rem;
  font-family: monospace;
  text-orientation: upright;
  writing-mode: vertical-lr;
  opacity: 0.2;
}

.fail {
  color: orangered;
  /*   top: 53px; */
  position: absolute;
}
.fmgc-text {
  top: 53px;
  position: absolute;
  color: darkgray;
}

.menu {
  top: 53px;
  position: absolute; 
}

.mcdu-text, 
.menu {
  opacity: 0.3;
  color:grey; 
}

/* BRIGHTNESS KNOB */
#bright-knob {
  position: absolute;
  border: 2px ridge #bbb9b9;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  top: 273px;
  background-color: #9f9d9d;
  left: 325px;
  box-shadow: -2px 1px 1px 0px #9f9d9d;
}

#prog-menu-container{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* border: 1px solid red; */
  width: 239px;
  height: 58px;
  left: 35px;
  top: 273px;
  flex-direction: row;
  align-content: space-between;
}


/* HORIZONTAL BUTTONS GLOBAL SHAPE */
#dir-menu, 
#prog-menu,
#perf-menu,
#init-menu, 
#data-menu, 
#fplan-menu, 
#radnav-menu, 
#fuel-pred-menu, 
#sec-menu, 
#atc-menu 
{
    position: relative;
    width: 40px;
    height: 26px;
    border: 1px solid #666;
    border-radius: 15%;
    background-color: black;
    color:whitesmoke;
    font: 10px monospace;
    
    
  }

  /* TOP ROW TEXT ALIGNMENT */
  #dir-menu >p, 
  #prog-menu >p,
  #perf-menu >p,
  #init-menu >p, 
  #data-menu > p{
    position: relative;
    top: -3px;
    text-align: center;
  }

  /* BOTTOM ROW TEXT ALIGNMENT */
  #fplan-menu > p, 
  #radnav-menu > p, 
  #fuel-pred-menu > p, 
  #sec-menu > p, 
  #atc-menu > p {
    position: relative;
    top: -11px;
    left: -4px;
    width: 33px;
    text-align: center;

  }

  #sec-menu > p > p {
    position:relative; 
    top: -10px;
  } 

  


  #mcdu-menu-button {
    position: absolute;
    width: 40px;
    height: 26px;
    border: 1px solid #666;
    border-radius: 15%;
    background-color: black;
    color: whitesmoke;
    font: 10px monospace;
    left: 249px;
    top: 32px;
  }

  /* VERTICAL BUTTONS MENU */

  #prog-vertical-menu-container{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 89px;
    height: 88px;
    left: 36px;
    top: 336px;
    flex-direction: row;
    align-content: space-between;
  }


  #airport-menu,
  #up-menu, 
  #nextpage-menu, 
  #down-menu, 
  .blank-menu
 {
    position: relative;
    width: 40px;
    height: 26px;
    border: 1px solid #666;
    border-radius: 15%;
    background-color: black;
    color:whitesmoke;
    font: 10px monospace;
    
    
  }

  #airport-menu > p{
    position:relative; 
    top: -10px;
  }
 
  #nextpage-menu > p{
    position: relative;
    top: -11px;
  } 

  #up-menu > img{
    position: relative;
    top: 2px;
    left: -2px;
  } 

  #down-menu > img{
    position: relative;
    top: 2px;
    left: -1px;
  } 


 

/* MCDU BUTTON TEXT POSITIONING */
#mcdu-menu-button > p {
  position: absolute;
  top: -9px;
  left: 0px;
}
 


#bright-text {
  position: absolute;
  width: 20px;
  height: 10px;
  top: 257px;
  font-size: 10px;
  color: whitesmoke;
  left: 355px;
}

/* NUMBER PAD*/

#number-pad {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  /*   border: 2px solid black; */
  width: 114px;
  height: 160px;
  left: 33px;
}

.item > p {
  position: relative;
  top: -13px;
  font: 15px Arial, sans-serif;
  text-align: center;
  font-family: monospace;
}

.item {
  width: 27px;
  height: 27px;
  margin: 5px;
  border: 3px solid black;
  border-radius: 100%;
  box-shadow: -1px 1px 2px 1px #2d3336;
  background-color: black;
  font: 30px Arial, sans-serif;
  text-align: center;
  color: whitesmoke;
}

.one {
  min-height: 20px;
}

.two {
  min-height: 20px;
}

.three {
  min-height: 20px;
}

.four {
  min-height: 20px;
}

.five {
  min-height: 20px;
}

.six {
  min-height: 20px;
}

.seven {
  min-height: 20px;
}

.eight {
  min-height: 20px;
}

.nine {
  min-height: 20px;
}

.decimal {
  min-height: 20px;
}

.zero {
  min-height: 20px;
}

.slash {
  min-height: 20px;
}

/*APLA PAD  */

#alpha-pad {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  /*     border: 2px solid black; */
  width: 184px;
  height: 240px;
  left: 154px;
  top: 347px;
}

.item-alpha > p {
  position: relative;
  top: -13px;
  font: 15px Arial, sans-serif;
  text-align: center;
  /*   color: #c3967d; */
  font-family: monospace;
}

.item-alpha {
  width: 25px;
  height: 25px;
  margin: 5px;
  border: 3px solid black;
  border-radius: 10%;
  box-shadow: -1px 1px 2px 1px #1a1a1a;
  background-color: black;
  font: 30px Arial, sans-serif;
  text-align: center;
  color: whitesmoke;
}

.a {
  min-height: 20px;
}

.b {
  min-height: 20px;
}

.c {
  min-height: 20px;
}

.d {
  min-height: 20px;
}

.e {
  min-height: 20px;
}

.f {
  min-height: 20px;
}

.g {
  min-height: 20px;
}

.h {
  min-height: 20px;
}

.i {
  min-height: 20px;
}

.j {
  min-height: 20px;
}

.k {
  min-height: 20px;
}

.l {
  min-height: 20px;
}

.m {
  min-height: 20px;
}

.n {
  min-height: 20px;
}

.o {
  min-height: 20px;
}

.p {
  min-height: 20px;
}

.q {
  min-height: 20px;
}

.r {
  min-height: 20px;
}

.s {
  min-height: 20px;
}

.t {
  min-height: 20px;
}

.u {
  min-height: 20px;
}

.v {
  min-height: 20px;
}

.w {
  min-height: 20px;
}

.x {
  min-height: 20px;
}

.y {
  min-height: 20px;
}

.z {
  min-height: 20px;
}

.dash {
  min-height: 20px;
}

.plus {
  min-height: 20px;
}

.ovfy {
  min-height: 20px;
}

.ovfy > p {
  font-size: 7.5px;
  top: -8.5px;
  left: -4.5px;
}

.clr {
  min-height: 20px;
}

.clr > p {
  font-size: 10px;
  left: -3.5px;
  top: -4px;
}
